.article__header {
    padding: 3rem 1.5rem;
}

.article__container {
    padding: 3rem 1.5rem;
}

.article__content {
    display: flex;
    flex-direction: row;
}

.article__sidebar {
    padding: 3rem 1.5rem;
    margin-left: 1.5rem;
}

.article__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article__list-link {
    text-decoration: none;
    color: black;
}

.article__section {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.article__section--alt {
    flex-direction: row-reverse;
}

.article__section-heading {
    margin-bottom: 1.5rem;
}

.article__section > * {
    flex-basis: 50%;
}

.article__section + .article__section {
    margin-top: 2rem;
}