html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

a {
    transition: 0.2s all;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    margin:20px;
    padding: 20px;
}

::-webkit-scrollbar-track {
    background: #EAA1B7;
    /* -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3);  */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5);  */
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #BA2C65;
  }