.button {
    background: white;
    padding: 8px 12px;
    border-radius: 10px;
    border:none;
    border-bottom: 4px solid transparent; 
    cursor: pointer;
    transition: 0.2s all;
}

.button:hover {
    background: #BA2C65;
    transform: scale(0.95);
}