.button {
    background: white;
    padding: 8px 12px;
    border-radius: 10px;
    border:none;
    border-bottom: 4px solid transparent; 
    cursor: pointer;
    transition: 0.2s transform;
    transition: 0.2s background;
}

.button:hover {
    background: #BA2C65;
    border-bottom: none;
    transform: translateY(4px);
}