.game__container {
    border: 5px solid transparent;
    border-radius: 10px;
    height: 100%;
    background: lightblue; 
    min-height: 70vh;
}

.game__screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
    padding: 2rem;
}

.game__select-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 24px;
}

.game__option-button {
    border: 5px solid transparent;
    padding: 24px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.game__option-image {
    aspect-ratio: 1;
    object-fit: cover;
    height: 100px;
    width: 100px;
}

.game__heading--h1 {
    font-size: 56px;
}

.game__heading--h2 {
    font-size: 24px;
}

.game__main {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: lightblue; /*change to a background image url*/
    padding: 1.5rem;
    border-radius: 25px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .game__main {
        position: static;
    }
}

.game__main-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game__sprite-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__sprite {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.game__main-bottom {
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    gap: 10px;
}

.game__love-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.game__love-value {

}

.game__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.game__menu-item {

}