.mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mobile-nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-grow: 1;
}

.mobile-nav__list-link {
    font-size: 36px;

}

.mobile-nav__button {
    display: none;
    background: transparent;
    border: none;
}

.mobile-nav__button svg {
    fill: black;
}

@media screen and (max-width:768px) {
    .mobile-nav__button {
        display: block;
        z-index: 999;
    }
}

.mobile-nav.is--active {
    display: flex;
}