.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 1rem;
    border-bottom: 1px solid #EAA1B7;
    color: black;
}

.nav__list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
}

.nav__list-link {
    text-decoration: none;
    color: black;
    transition: 0.2s all;
    font-size: 24px;
}

.nav__list-link:hover {
    text-decoration: underline;
}