.cotton-candy body {
    background: #FFDAEA;
    color: black;
}

.cotton-candy a {
    color: black;
}

.cotton-candy a:hover {
    color: #BA2C65
}

.cotton-candy .article__header {
    background: #EAA1B7
}