/* Cotton Candy */ 

.cotton-candy body {
    background: #FFDAEA;
    color: black;
}

.cotton-candy a {
    color: black;
}

.cotton-candy a:hover {
    color: #BA2C65
}

.cotton-candy .article__header {
    background: #EAA1B7
}

.cotton-candy .footer__content {
    background: #EAA1B7
}

.cotton-candy .article__description {
    color: #4A2937;
}

.cotton-candy .button {
    border-bottom-color: #EAA1B7;
}

.cotton-candy .button:hover {
    color: white;
    border-bottom-color: #BA2C65;
}

.cotton-candy .mobile-nav {
    background: #EAA1B7;
}

.cotton-candy .game__option-container {
    border: 5px solid #BA2C65;
}

.cotton-candy .modal__content {
    border: 5px solid #BA2C65;
}

.cotton-candy .modal__tab {
    border-color: #EAA1B7
}

.cotton-candy .modal__tabs {
    border-color: #EAA1B7
}

.cotton-candy .modal__tab-button:hover {
    background: #EAA1B7;
}

.cotton-candy .modal__tab-button.is--active {
    background: #EAA1B7;
}

.cotton-candy .modal__item {
    background: #EAA1B7;
}

.cotton-candy .modal__close-button {
    border-color: #EAA1B7;
}

.cotton-candy .modal__close-button:hover {
    border-color: #BA2C65;
}