@font-face {
    font-family: DiaryOfAn8BitMage;
    src: url('../assets/font/Diary\ of\ an\ 8-bit\ mage.woff');
}
  
body, button, input, select {
    font-family: DiaryOfAn8BitMage;
    letter-spacing: 1px;
}