.footer {
}

.footer__content {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
}

.footer__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.footer__credit,
.footer__credit-link {
    font-size: 14px;
}
